:root {
  // Color Palette
  --dark0-hard: #1d2021;
  --dark0: #282828;
  --dark0-soft: #32302f;
  --dark1: #3c3836;
  --dark2: #504945;
  --dark3: #665c54;
  --dark4: #7c6f64;
  --dark4-256: #7c6f64;
  --gray-245: #928374;
  --gray-244: #928374;
  --light0-hard: #f9f5d7;
  --light0: #fbf1c7;
  --light0-soft: #f2e5bc;
  --light1: #ebdbb2;
  --light2: #d5c4a1;
  --light3: #bdae93;
  --light4: #a89984;
  --light4-256: #a89984;
  --bright-red: #fb4934;
  --bright-green: #b8bb26;
  --bright-yellow: #fabd2f;
  --bright-blue: #83a598;
  --bright-purple: #d3869b;
  --bright-aqua: #8ec07c;
  --bright-orange: #fe8019;
  --neutral-red: #cc241d;
  --neutral-green: #98971a;
  --neutral-yellow: #d79921;
  --neutral-blue: #458588;
  --neutral-purple: #b16286;
  --neutral-aqua: #689d6a;
  --neutral-orange: #d65d0e;
  --faded-red: #9d0006;
  --faded-green: #79740e;
  --faded-yellow: #b57614;
  --faded-blue: #076678;
  --faded-purple: #8f3f71;
  --faded-aqua: #427b58;
  --faded-orange: #af3a03;

  // Colors
  --background-color-base: var(--dark0-hard);
  --text-color-body: var(--light0-hard);
  --link-text-color: var(--bright-yellow);

  // Type
  --primary-font-family: 'Open Sans', -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
  --secondary-font-family: 'Gentium Book Basic', iowan old style, apple garamond, baskerville, times new roman, droid serif, times, source serif pro, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --line-height-base: 1.5;
  --max-line-length: 33rem;
  --half-line-length: 16rem; // integer for grid math

  // Type Scale
  --font-scale-neg1: 0.889rem;
  --font-scale-0: 1rem;
  --font-scale-1: 1.125rem;
  --font-scale-2: 1.266rem;
  --font-scale-3: 1.424rem;
  --font-scale-4: 1.602rem;
  --font-scale-5: 1.802rem;
  --font-size-body: var(--font-scale-0);
  --font-size-caption: var(--font-scale-neg1);

  // Spacing
  --space-m: calc(1rem * var(--line-height-base));
  --space-l: calc(2 * var(--space-m));
}
